<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EV 충전</title>
    <!-- Materialize CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      rel="stylesheet"
    />
    <!-- Custom Styles -->
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>EV 충전</h1>
        <div class="header-right">
          <a class="btn" href="/">메인 페이지로 돌아가기</a>
        </div>
      </div>
      <canvas id="cardChart"></canvas>
      <script>
        var ctx = document.getElementById("cardChart").getContext("2d");
        var cardNames = /*[[${cardNames}]]*/ []; // 서버에서 제공한 카드 이름 데이터
        var cardPrices = /*[[${cardPrices}]]*/ []; // 서버에서 제공한 카드 가격 데이터

        var cardChart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: cardNames,
            datasets: [
              {
                label: "카드별 청구금액",
                data: cardPrices,
                backgroundColor: "rgba(54, 162, 235, 0.2)",
                borderColor: "rgba(54, 162, 235, 1)",
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });
      </script>
    </div>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
