<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>수정</title>
    <!-- Materialize CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        padding: 20px;
      }
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
      }
      .header h4 {
        text-align: center;
        flex-grow: 1;
        margin: 0;
      }
      .header .delete-button {
        position: absolute;
        right: 0;
      }
      .button-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h4>수정</h4>
        <button
          type="button"
          class="btn red delete-button"
          onclick="deleteData()"
        >
          삭제
        </button>
      </div>
      <form id="editForm" action="/update" method="post">
        <input type="hidden" id="id" name="id" th:value="${chargeData.id}" />
        <div class="input-field">
          <input
            type="date"
            id="date"
            name="date"
            th:value="${#dates.format(chargeData.date, 'yyyy-MM-dd')}"
            autocomplete="off"
          />
          <label for="date" class="active">날짜</label>
        </div>
        <div class="input-field">
          <input
            type="number"
            step="0.01"
            id="amountOfCharge"
            name="amountOfCharge"
            th:value="${chargeData.amountOfCharge}"
            autocomplete="off"
          />
          <label for="amountOfCharge" class="active">충전량</label>
        </div>
        <div class="input-field">
          <input
            type="number"
            id="price"
            name="price"
            th:value="${chargeData.price}"
            autocomplete="off"
          />
          <label for="price" class="active">충전금액</label>
        </div>
        <div class="input-field">
          <input
            type="number"
            id="point"
            name="point"
            th:value="${chargeData.point}"
            autocomplete="off"
          />
          <label for="point" class="active">포인트 사용</label>
        </div>
        <div class="input-field">
          <input
            type="number"
            id="distance"
            name="distance"
            th:value="${chargeData.distance}"
            autocomplete="off"
          />
          <label for="distance" class="active">누적 주행거리</label>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <select
              id="card"
              name="card"
              class="browser-default"
              autocomplete="off"
              th:value="${chargeData.card}"
            >
              <option
                value="BC"
                th:selected="${chargeData.card == 'BC'}"
                th:text="'비씨카드'"
              >
                BC
              </option>
              <option
                value="Samsung"
                th:selected="${chargeData.card == 'Samsung'}"
                th:text="'삼성카드'"
              >
                Samsung
              </option>
              <option
                value="Shinhan"
                th:selected="${chargeData.card == 'Shinhan'}"
                th:text="'신한카드'"
              >
                Shinhan
              </option>
              <option
                value="Hana"
                th:selected="${chargeData.card == 'Hana'}"
                th:text="'하나카드'"
              >
                Hana
              </option>
            </select>
            <label for="card" class="active">카드</label>
          </div>
          <div class="input-field col s6">
            <select
              id="discountRate"
              name="discountRate"
              class="browser-default"
              autocomplete="off"
              th:value="${chargeData.discountRate}"
            >
              <option
                value="100"
                th:selected="${chargeData.discountRate == 100}"
              >
                100%
              </option>
              <option value="80" th:selected="${chargeData.discountRate == 80}">
                80%
              </option>
              <option value="70" th:selected="${chargeData.discountRate == 70}">
                70%
              </option>
              <option value="50" th:selected="${chargeData.discountRate == 50}">
                50%
              </option>
              <option value="30" th:selected="${chargeData.discountRate == 30}">
                30%
              </option>
              <option value="0" th:selected="${chargeData.discountRate == 0}">
                0%
              </option>
            </select>
            <label for="discountRate" class="active">할인율</label>
          </div>
        </div>
        <div class="input-field">
          <select
            id="company"
            name="company"
            class="browser-default"
            autocomplete="off"
            th:value="${chargeData.company}"
          >
            <option
              value="한화모티브"
              th:selected="${chargeData.company == '한화모티브'}"
            >
              한화모티브
            </option>
            <option
              value="SK일렉링크"
              th:selected="${chargeData.company == 'SK일렉링크'}"
            >
              SK일렉링크
            </option>
            <option
              value="EV Infra"
              th:selected="${chargeData.company == 'EV Infra'}"
            >
              EV Infra
            </option>
            <option
              value="chargev"
              th:selected="${chargeData.company == 'chargev'}"
            >
              chargev
            </option>
            <option
              value="E-Pit"
              th:selected="${chargeData.company == 'E-Pit'}"
            >
              E-Pit
            </option>
            <option
              value="파워큐브"
              th:selected="${chargeData.company == '파워큐브'}"
            >
              파워큐브
            </option>
            <option value="한전" th:selected="${chargeData.company == '한전'}">
              한전
            </option>
            <option
              value="환경부"
              th:selected="${chargeData.company == '환경부'}"
            >
              환경부
            </option>
            <option
              value="에버온"
              th:selected="${chargeData.company == '에버온'}"
            >
              에버온
            </option>
            <option value="기타" th:selected="${chargeData.company == '기타'}">
              기타
            </option>
          </select>
          <label for="company" class="active">사업자</label>
        </div>
        <div class="button-container">
          <button type="submit" class="btn">저장</button>
          <a class="btn red" href="/">취소</a>
        </div>
      </form>
    </div>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var cardSelect = document.getElementById("card");
        cardSelect.addEventListener("change", function () {
          fetchDiscountRate(this.value);
        });

        // 카드 기본값에 따라 할인율 자동 설정
        if (cardSelect.value) {
          fetchDiscountRate(cardSelect.value);
        }

        function fetchDiscountRate(cardName) {
          fetch(`/api/getDiscountRate?cardName=${cardName}`)
            .then((response) => response.json())
            .then((data) => {
              var discountRateSelect = document.getElementById("discountRate");
              discountRateSelect.value = data.discountRate;
              M.FormSelect.init(discountRateSelect);
              console.log("Discount rate set to:", data.discountRate);
            })
            .catch((error) =>
              console.error("Error fetching discount rate:", error)
            );
        }
      });

      function deleteData() {
        var id = document.getElementById("id").value;
        if (confirm("정말로 이 데이터를 삭제하시겠습니까?")) {
          fetch(`/delete/${id}`, {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((response) => {
              if (response.ok) {
                window.location.href = "/";
              } else {
                alert("데이터 삭제에 실패했습니다.");
              }
            })
            .catch((error) => console.error("Error deleting data:", error));
        }
      }
    </script>
  </body>
</html>
