<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>수정</title>
    <!-- Materialize CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <link href="/css/styles.css" rel="stylesheet" />
    <style>
      body {
        padding: 20px;
      }
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
      }
      .header h4 {
        text-align: center;
        flex-grow: 1;
        margin: 0;
      }
      .header .delete-button {
        position: absolute;
        right: 0;
      }
      .button-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h4>수정</h4>
        <button
          type="button"
          class="btn red delete-button"
          onclick="deleteData()"
        >
          삭제
        </button>
      </div>
      <form
        id="editForm"
        th:action="@{/update}"
        th:object="${chargeData}"
        method="post"
      >
        <input type="hidden" id="id" name="id" th:value="${chargeData.id}" />
        <div class="input-field">
          <input
            type="date"
            id="date"
            name="date"
            th:value="${#dates.format(chargeData.date, 'yyyy-MM-dd')}"
            autocomplete="off"
            required
          />
          <label for="date" class="active">날짜</label>
        </div>
        <div class="input-field">
          <select
            id="company"
            th:field="*{company}"
            class="browser-default"
            autocomplete="off"
          >
            <option value="한화모티브" selected>한화모티브</option>
            <option value="SK일렉링크">SK일렉링크</option>
            <option value="EV Infra">EV Infra</option>
            <option value="chargev">chargev</option>
            <option value="E-Pit">E-Pit</option>
            <option value="파워큐브">파워큐브</option>
            <option value="한전">한전</option>
            <option value="환경부">환경부</option>
            <option value="에버온">에버온</option>
            <option value="기타">기타</option>
          </select>
          <label for="company" class="active">사업자</label>
        </div>
        <div class="input-field">
          <input
            type="number"
            step="0.01"
            id="amountOfCharge"
            th:field="*{amountOfCharge}"
            value="0"
            autocomplete="off"
            required
          />
          <label for="amountOfCharge" class="active">충전량</label>
        </div>
        <div class="input-field">
          <input
            type="number"
            id="price"
            th:field="*{price}"
            autocomplete="off"
            required
          />
          <label for="price" class="active">충전금액</label>
        </div>
        <div class="input-field">
          <input
            type="number"
            id="point"
            th:field="*{point}"
            value="0"
            autocomplete="off"
          />
          <label for="point" class="active">포인트 사용</label>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <select
              id="card"
              th:field="*{card}"
              class="browser-default"
              autocomplete="off"
            >
              <option value="BC" selected>비씨카드</option>
              <option value="Samsung">삼성카드</option>
              <option value="Shinhan">신한카드</option>
              <option value="Hana">하나카드</option>
            </select>
            <label for="card" class="active">카드</label>
          </div>
          <div class="input-field col s6">
            <select
              id="discountRate"
              th:field="*{discountRate}"
              class="browser-default"
              autocomplete="off"
            >
              <option value="100">100%</option>
              <option value="80">80%</option>
              <option value="70">70%</option>
              <option value="50">50%</option>
              <option value="30">30%</option>
              <option value="0">0%</option>
            </select>
            <label for="discountRate" class="active">할인율</label>
          </div>
        </div>
        <div class="input-field">
          <input
            type="number"
            id="distance"
            th:field="*{distance}"
            autocomplete="off"
          />
          <label for="distance" class="active">누적 주행거리</label>
        </div>
        <div class="input-field">
          <input
            type="number"
            id="batteryStatus"
            th:field="*{batteryStatus}"
            autocomplete="off"
            required
          />
          <label for="batteryStatus" class="active">배터리 잔량</label>
        </div>
        <div class="input-field">
          <input
            type="number"
            id="drivingRange"
            th:field="*{drivingRange}"
            autocomplete="off"
            required
          />
          <label for="drivingRange" class="active">주행 가능 거리</label>
        </div>
        <div class="button-container">
          <button type="submit" class="btn">저장</button>
          <a class="btn red" href="/">취소</a>
        </div>
      </form>
    </div>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var cardSelect = document.getElementById("card");
        cardSelect.addEventListener("change", function () {
          fetchDiscountRate(this.value);
        });

        // 카드 기본값에 따라 할인율 자동 설정
        if (cardSelect.value) {
          fetchDiscountRate(cardSelect.value);
        }

        function fetchDiscountRate(cardName) {
          fetch(`/api/getDiscountRate?cardName=${cardName}`)
            .then((response) => response.json())
            .then((data) => {
              var discountRateSelect = document.getElementById("discountRate");
              discountRateSelect.value = data.discountRate;
              M.FormSelect.init(discountRateSelect);
              console.log("Discount rate set to:", data.discountRate);
            })
            .catch((error) =>
              console.error("Error fetching discount rate:", error)
            );
        }
      });

      function deleteData() {
        var id = document.getElementById("id").value;
        if (confirm("정말로 이 데이터를 삭제하시겠습니까?")) {
          fetch(`/delete/${id}`, {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((response) => {
              if (response.ok) {
                window.location.href = "/";
              } else {
                alert("데이터 삭제에 실패했습니다.");
              }
            })
            .catch((error) => console.error("Error deleting data:", error));
        }
      }
    </script>
  </body>
</html>
