<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EV 충전</title>
    <!-- Materialize CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      rel="stylesheet"
    />
    <!-- Custom Styles -->
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>EV 충전</h1>
        <div class="header-right">
          <form
            id="monthForm"
            action="/"
            method="get"
            class="input-field month-selector"
          >
            <input
              type="month"
              id="month"
              name="month"
              th:value="${selectedMonth}"
              onchange="document.getElementById('monthForm').submit();"
            />
          </form>
          <ul id="userDropdown" class="dropdown-content">
            <li><a href="#">Profile</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
          <a class="btn dropdown-trigger" href="#" data-target="userDropdown">
            <img
              src="https://via.placeholder.com/30"
              class="circle"
              alt="User Avatar"
            />
            <span th:text="${#authentication.name}"></span>
          </a>
        </div>
      </div>
      <div class="summary-tables">
        <div class="summary-table">
          <h5>카드별 청구금액 총합</h5>
          <table class="striped responsive-table">
            <thead>
              <tr>
                <th>카드</th>
                <th>총 청구금액</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="cardSummary : ${totalPriceByCard.entrySet()}">
                <td
                  th:text="${cardSummary.key == 'BC' ? '비씨카드' : cardSummary.key == 'Samsung' ? '삼성카드' : cardSummary.key == 'Shinhan' ? '신한카드' : cardSummary.key == 'Hana' ? '하나카드' : cardSummary.key}"
                ></td>
                <td th:text="${cardSummary.value}"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="summary-table">
          <h5>사업자별 충전량 총합</h5>
          <table class="striped responsive-table">
            <thead>
              <tr>
                <th>사업자</th>
                <th>총 충전량</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="companySummary : ${totalChargeByCompany.entrySet()}">
                <td th:text="${companySummary.key}"></td>
                <td th:text="${companySummary.value}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div th:if="${#lists.isEmpty(chargeDataList)}">
        <p>충전기록이 없습니다</p>
      </div>
      <div class="table-responsive">
        <table class="striped responsive-table">
          <!-- 테이블 헤더 수정 -->
          <thead>
            <tr>
              <th>날짜</th>
              <th class="hide-on-small-only">충전량</th>
              <th>충전금액</th>
              <th class="hide-on-small-only">단가</th>
              <th class="hide-on-small-only">포인트 사용</th>
              <th class="hide-on-small-only">할인후 금액</th>
              <th class="hide-on-small-only">청구금액</th>
              <th class="hide-on-small-only">청구단가</th>
              <th class="hide-on-small-only">배터리 잔량</th>
              <!-- 추가 -->
              <th class="hide-on-small-only">주행 가능 거리</th>
              <!-- 추가 -->
              <th class="hide-on-small-only">누적주행거리</th>
              <th>카드</th>
              <th>사업자</th>
            </tr>
          </thead>

          <!-- 테이블 바디 수정 -->
          <tbody>
            <tr
              th:each="data : ${chargeDataList}"
              th:onclick="|window.location='/edit/${data.id}'|"
              class="clickable-row"
            >
              <td
                class="date-col"
                th:data-full="${#dates.format(data.date, 'yyyy.MM.dd')}"
                th:data-short="${#dates.format(data.date, 'MM.dd')}"
                th:text="${#dates.format(data.date, 'yyyy.MM.dd')}"
              ></td>
              <td
                th:text="${data.amountOfCharge}"
                class="hide-on-small-only"
              ></td>
              <td th:text="${data.price}"></td>
              <td th:text="${data.unitPrice}" class="hide-on-small-only"></td>
              <td th:text="${data.point}" class="hide-on-small-only"></td>
              <td
                th:text="${data.discountedPrice}"
                class="hide-on-small-only"
              ></td>
              <td th:text="${data.finalPrice}" class="hide-on-small-only"></td>
              <td
                th:text="${data.finalUnitPrice}"
                class="hide-on-small-only"
              ></td>
              <td
                th:text="${data.batteryStatus}"
                class="hide-on-small-only"
              ></td>
              <!-- 추가 -->
              <td
                th:text="${data.drivingRange}"
                class="hide-on-small-only"
              ></td>
              <!-- 추가 -->
              <td th:text="${data.distance}" class="hide-on-small-only"></td>
              <td
                th:text="${data.card == 'BC' ? '비씨카드' : data.card == 'Samsung' ? '삼성카드' : data.card == 'Shinhan' ? '신한카드' : data.card == 'Hana' ? '하나카드' : data.card}"
              ></td>
              <td th:text="${data.company}"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="button-container">
        <a class="btn left" href="/chart">차트 보기</a>
        <a class="btn right" href="/input">입력</a>
      </div>
    </div>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".dropdown-trigger");
        var instances = M.Dropdown.init(elems);

        var dateCols = document.querySelectorAll(".date-col");
        if (window.innerWidth <= 600) {
          dateCols.forEach(function (col) {
            col.textContent = col.getAttribute("data-short");
          });
        } else {
          dateCols.forEach(function (col) {
            col.textContent = col.getAttribute("data-full");
          });
        }
      });

      window.addEventListener("resize", function () {
        var dateCols = document.querySelectorAll(".date-col");
        if (window.innerWidth <= 600) {
          dateCols.forEach(function (col) {
            col.textContent = col.getAttribute("data-short");
          });
        } else {
          dateCols.forEach(function (col) {
            col.textContent = col.getAttribute("data-full");
          });
        }
      });
    </script>
  </body>
</html>
