<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>입력 페이지</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      rel="stylesheet"
    />
    <style>
      .modal-content {
        max-height: 90vh;
        overflow-y: auto;
      }
    </style>
    <script src="/htmx.min.js"></script>
    <script>
      function updateChargeData(company) {
        fetch("/api/getLatestChargeData", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: new URLSearchParams({ company: company }),
        })
          .then((response) => response.json())
          .then((data) => {
            document.getElementById("amountOfCharge").value =
              data.amountOfCharge;
            document.getElementById("price").value = data.price;
            document.getElementById("point").value = data.point;
            document.querySelector(
              `input[name="card"][value="${data.card}"]`
            ).checked = true;
          })
          .catch((error) => console.error("Error:", error));
      }
    </script>
  </head>
  <body>
    <form action="/save" method="post">
      <div class="modal-content">
        <h4>입력 내용</h4>
        <div class="input-field">
          <label for="date">날짜:</label>
          <input type="date" id="date" name="date" />
        </div>
        <div class="input-field">
          <label for="amountOfCharge">충전량:</label>
          <input type="number" id="amountOfCharge" name="amountOfCharge" />
        </div>
        <div class="input-field">
          <label for="price">충전금액:</label>
          <input type="number" id="price" name="price" />
        </div>
        <div class="input-field">
          <label for="unitPrice">단가:</label>
          <input type="number" id="unitPrice" name="unitPrice" />
        </div>
        <div class="input-field">
          <label for="point">포인트 사용:</label>
          <input type="number" id="point" name="point" />
        </div>
        <div>
          <label>할인율:</label><br />
          <label>
            <input
              type="radio"
              id="discount100"
              name="discountRate"
              value="100"
            />
            <span>100%</span> </label
          ><br />
          <label>
            <input
              type="radio"
              id="discount80"
              name="discountRate"
              value="80"
            />
            <span>80%</span> </label
          ><br />
          <label>
            <input
              type="radio"
              id="discount70"
              name="discountRate"
              value="70"
            />
            <span>70%</span> </label
          ><br />
          <label>
            <input
              type="radio"
              id="discount50"
              name="discountRate"
              value="50"
            />
            <span>50%</span> </label
          ><br />
          <label>
            <input
              type="radio"
              id="discount30"
              name="discountRate"
              value="30"
            />
            <span>30%</span> </label
          ><br />
          <label>
            <input type="radio" id="discount0" name="discountRate" value="0" />
            <span>0%</span> </label
          ><br />
        </div>
        <div class="input-field">
          <label for="distance">누적 주행거리:</label>
          <input
            type="number"
            id="distance"
            name="distance"
            value="${accumulatedDistance}"
          />
        </div>
        <div>
          <label>카드:</label><br />
          <label>
            <input type="radio" id="bc" name="card" value="BC" />
            <span>BC</span> </label
          ><br />
          <label>
            <input type="radio" id="samsung" name="card" value="삼성" />
            <span>삼성</span> </label
          ><br />
          <label>
            <input type="radio" id="shinhan" name="card" value="신한" />
            <span>신한</span> </label
          ><br />
          <label>
            <input type="radio" id="hana" name="card" value="하나" />
            <span>하나</span> </label
          ><br />
        </div>
        <div>
          <label>사업자:</label><br />
          <label>
            <input
              type="radio"
              id="hanhwa"
              name="company"
              value="한화모티브"
              onclick="updateChargeData('한화모티브')"
            />
            <span>한화모티브</span> </label
          ><br />
          <label>
            <input
              type="radio"
              id="sk"
              name="company"
              value="SK일렉링크"
              onclick="updateChargeData('SK일렉링크')"
            />
            <span>SK일렉링크</span> </label
          ><br />
          <label>
            <input
              type="radio"
              id="evinfra"
              name="company"
              value="EV Infra"
              onclick="updateChargeData('EV Infra')"
            />
            <span>EV Infra</span> </label
          ><br />
          <label>
            <input
              type="radio"
              id="chargev"
              name="company"
              value="chargev"
              onclick="updateChargeData('chargev')"
            />
            <span>chargev</span> </label
          ><br />
          <label>
            <input
              type="radio"
              id="epit"
              name="company"
              value="E-Pit"
              onclick="updateChargeData('E-Pit')"
            />
            <span>E-Pit</span> </label
          ><br />
          <label>
            <input
              type="radio"
              id="powercube"
              name="company"
              value="파워큐브"
              onclick="updateChargeData('파워큐브')"
            />
            <span>파워큐브</span> </label
          ><br />
          <label>
            <input
              type="radio"
              id="kepco"
              name="company"
              value="한전"
              onclick="updateChargeData('한전')"
            />
            <span>한전</span> </label
          ><br />
          <label>
            <input
              type="radio"
              id="env"
              name="company"
              value="환경부"
              onclick="updateChargeData('환경부')"
            />
            <span>환경부</span> </label
          ><br />
          <label>
            <input
              type="radio"
              id="everon"
              name="company"
              value="에버온"
              onclick="updateChargeData('에버온')"
            />
            <span>에버온</span> </label
          ><br />
          <label>
            <input
              type="radio"
              id="other"
              name="company"
              value="기타"
              onclick="updateChargeData('기타')"
            />
            <span>기타</span> </label
          ><br />
        </div>
        <button type="submit" class="btn">확인</button>
        <button
          type="button"
          class="btn red"
          onclick="document.getElementById('modal').style.display='none'"
        >
          취소
        </button>
      </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
